Node-Red Flow.json
[
    {
        "id": "da205540.e2f438",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "23556120.70ecde",
        "type": "ui_tab",
        "z": "",
        "name": "Customer Care Desk",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "23c01f98.adefd",
        "type": "ui_group",
        "z": "",
        "name": "Customer query",
        "tab": "23556120.70ecde",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "f33b8e85.e34bd",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8055355a.c51b18",
        "type": "ui_group",
        "z": "",
        "name": "Bot Response",
        "tab": "23556120.70ecde",
        "order": 2,
        "disp": true,
        "width": 15,
        "collapse": false
    },
    {
        "id": "f2f2649a.0d0d98",
        "type": "debug",
        "z": "da205540.e2f438",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 830,
        "y": 80,
        "wires": []
    },
    {
        "id": "e19e969d.7e5f28",
        "type": "ui_form",
        "z": "da205540.e2f438",
        "name": "",
        "label": "",
        "group": "23c01f98.adefd",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Enter the input",
                "value": "input",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "input": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 90,
        "y": 360,
        "wires": [
            [
                "90365fb6.218f1"
            ]
        ]
    },
    {
        "id": "90365fb6.218f1",
        "type": "function",
        "z": "da205540.e2f438",
        "name": "func 1",
        "func": "msg.payload=msg.payload.input;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 260,
        "wires": [
            [
                "1c468b56.c66165",
                "24a18ce.1ccff74"
            ]
        ]
    },
    {
        "id": "1c468b56.c66165",
        "type": "ui_text",
        "z": "da205540.e2f438",
        "group": "23c01f98.adefd",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Input",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 370,
        "y": 440,
        "wires": []
    },
    {
        "id": "24a18ce.1ccff74",
        "type": "watson-conversation-v1",
        "z": "da205540.e2f438",
        "name": "Assistant",
        "workspaceid": "8d6f7af1-729e-4ebb-8cf8-f10b00c00e6d",
        "multiuser": false,
        "context": false,
        "empty-payload": false,
        "service-endpoint": "https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/9d9f9fd1-1955-4f84-9eaa-d56677ae5d1f",
        "timeout": "",
        "optout-learning": false,
        "x": 460,
        "y": 180,
        "wires": [
            [
                "f2f2649a.0d0d98",
                "75df196e.c9a928"
            ]
        ]
    },
    {
        "id": "75df196e.c9a928",
        "type": "function",
        "z": "da205540.e2f438",
        "name": "func 2",
        "func": "msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1){\n    for(var i in msg.payload.context.webhook_result_1.results){\n        msg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;\n    }\n    msg.payload=msg.payload.text;\n}\nelse{\n    msg.payload = msg.payload.output.text[0];\n}\n\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "x": 660,
        "y": 320,
        "wires": [
            [
                "b945629b.d3d94"
            ]
        ]
    },
    {
        "id": "b945629b.d3d94",
        "type": "ui_text",
        "z": "da205540.e2f438",
        "group": "8055355a.c51b18",
        "order": 1,
        "width": "15",
        "height": "14",
        "name": "",
        "label": "output",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 870,
        "y": 400,
        "wires": []
    }
]